/* styles.css */
body {
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    background-color: #000; /* Black background */
    user-select: none; /* Prevent text selection */
}

canvas {
    display: block; /* Full-screen canvas */
}